/* PAGE & Layout */
/* Setup */
html {
	/* Change default typefaces here */
	font-family: serif;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
}
body {
	font-size: 17px;
	color: #0a1826;
	background: #fff;
	font-family: sans,sans-serif;
	font-weight: 300;
	line-height: 1.64706;
	letter-spacing: .012em;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
}
/* Copy & Lists */
p {
	line-height: 1.6rem;
	margin-top: 1rem;
	margin-bottom: 0;
}
dd, dl, ol, p, pre, ul {
	margin-bottom: 1.64706em;
}