// Containers

// Small container
small-container-width = 400px
// Normal container
container-width = 600px
// Large container
large-container-width = 800px

// Text colors
gray1 = #727272
gray2 = #737373
// Body
bodyColor = #0a1826

// Links
link-color = #456fff